@using System;
@using crozone.GuidColor
@model Guid?

@if (Model is Guid guid)
{
    bool colorGuid = @ViewData["color"] as bool? ?? false;
    if (colorGuid)
    {
        string lightClass = @ViewData["lightClass"] as string ?? "badge text-dark text-monospaced";
        string darkClass = @ViewData["darkClass"] as string ?? "badge text-white text-monospaced";
        string? format = @ViewData["format"] as string;
        bool smallGuid = @ViewData["small"] as bool? ?? false;
        string guidText = smallGuid 
            ? guid.ToString("N").Substring(0, 8)
            : !string.IsNullOrEmpty(format)
                ? guid.ToString(format)
                : guid.ToString();
        (string guidColor, bool isDark) = guid.ToHtmlColor();
<span class="@(isDark ? darkClass : lightClass)" style="background-color:@guidColor">@guidText</span>
    }
    else
    {
<text>@guid</text>
    }
}